body {
  margin: 0;
  padding: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

#pizzasContainer {
  display: flex;
  flex-wrap: wrap;
}

#pizzasContainer >:not(:last-child) {
  margin-right: 20px;
}

.pizza-card-wrapper {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: fit-content;
}

.pizza-card-wrapper img {
  width: 250px;
  height: 250px;
}

.toppings-wrapper {
  display: flex;
}

.toppings-wrapper >:not(:last-child){
  margin-right: 20px;
}

.topping-card {
  width: 150px;
  border: 1px solid black;
  text-align: center;
}

.topping-card img {
  margin-top: 20px;
  width: 125px;
  height: 125px;
  border: 1px dashed black;
}

#control button {
  margin-top: 14px;
  border-radius: 5px;
  background-color: orange;
}

#control button:active {
  background-color: rgb(0, 255, 136)
}

.active {
  background-color: aqua;
}