@media  screen and (max-width: 650px) 
  .header_addaptive
    font-weight: bold
    width: 100%
    display: flex
    justify-content: flex-start
    align-items: center
    background: white
    border-radius: 10px
    padding: 10px 25px
    box-shadow: 2px 2px 5px gray
    position: fixed
    z-index: 9999
    
    .logo_container 
      display: flex
      width: 100%
      justify-content: center

    .logo 
      font-size: 24px

    .email 
      display: none !important

  .header_menu 
    width: fit-content
    display: flex
    flex-direction: column
    justify-content: space-around

  .header 
    display: none !important

  .developmentFormWrapper
    overflow: hidden !important
    flex-wrap: wrap !important

    .container
      width: 100vw !important
      position: relative !important

  .footer 
    margin: 0 !important

    .infoContainer
      display: grid !important
      grid-template-rows: 2fr 2fr !important
      grid-template-columns: 2fr 2fr !important