@import "./global.css";
@import "./fonts.css";
@import "./utils.css";
* {
  margin: 0;
  padding: 0;
}

.background_white {
  background-color: white;
}

body {
  background: rgb(242, 244, 247);
  overflow-x: hidden;
}

.dodgerblue {
  color: dodgerblue;
}

.gray {
  color: gray;
}

.btn {
  border-radius: 5px;
  padding: 0 10px;
  background: blue;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.mt-3 {
  margin-top: 30px;
}

.flex {
  display: flex;
}

.header_addaptive {
  display: none;
}

.header {
  font-weight: bold;
  width: 80%;
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 10px;
  padding: 10px 25px;
  box-shadow: 2px 2px 5px gray;
  position: fixed;
  z-index: 9999;
}
.header .logo {
  font-size: 24px;
  display: inline-block;
}
.header ul {
  display: inline-block;
}
.header ul li {
  display: inline;
  margin-right: 5px;
  cursor: pointer;
}
.header .contacts, .header .email {
  display: inline-block;
  float: right;
}
.header .contacts a, .header .email a {
  text-decoration: none;
  margin-right: 10px;
  color: dodgerblue;
  cursor: pointer;
}

.contacts:before {
  content: url("../icons/bluePhone.svg");
  margin-right: 5px;
}

.email::before {
  content: url("../icons/blueEmail.svg");
  margin-right: 5px;
}

.content {
  z-index: 2;
  padding-top: 50px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.content .developmentFormWrapper {
  overflow: hidden;
  flex-wrap: nowrap;
}
.content .developmentFormWrapper .background_images {
  margin-left: 20px;
  position: relative;
  z-index: -1;
  overflow: hidden;
  height: 500px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transform: rotate(-15deg);
}
.content .developmentFormWrapper .background_images img:nth-child(1) {
  position: relative;
  width: 242.5px;
  -webkit-animation: move 10s infinite ease-in-out;
          animation: move 10s infinite ease-in-out;
}
.content .developmentFormWrapper .background_images img:nth-child(2) {
  position: relative;
  width: 242.5px;
  -webkit-animation: move_reverse 10s infinite ease-in-out;
          animation: move_reverse 10s infinite ease-in-out;
}
.content .container {
  position: relative;
  width: 50vw;
}
.content .title {
  font-size: 30px;
  font-weight: bold;
}
.content .form {
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px gray;
  padding: 10px;
}
.content .form .input_wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.content .form .input_wrapper .input_form {
  border: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
  outline: none;
}
.content .technologies_wrapper {
  z-index: 2;
  background: white;
}
.content .technologies_wrapper .technologies_container {
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content .technologies_wrapper .technologies_container .technologies {
  position: relative;
  width: 50%;
}
.content .technologies_wrapper .technologies_container ul li {
  list-style: none;
  margin-top: 24px;
  font-size: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.content .technologies_wrapper .technologies_container ul li::after {
  content: " >";
}
.content .technologies_wrapper .technologies_container ul li:hover {
  border-bottom: 3px solid rgb(33, 105, 231);
}
.content .block_title h2 {
  font-size: 30px;
}
.content .block_title h4 {
  font-size: 20px;
}

.footer {
  background: rgb(16, 24, 40);
  border-radius: 10px;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
}
.footer .infoContainer {
  display: flex;
  justify-content: space-between;
}
.footer .infoContainer .infoElement {
  padding: 0 50px;
  display: inline-block;
}
.footer .footer-label {
  text-align: center;
}
.footer .footer-label:before {
  content: url("../icons/footerSmoke.svg");
  margin-right: 5px;
}

.caption-email, .caption-contact, .caption-address, .caption-document {
  color: rgb(152, 162, 179);
}

.caption-contact:before {
  content: url("../icons/phone.svg");
  margin-right: 5px;
}

.caption-email:before {
  content: url("../icons/email.svg");
  margin-right: 5px;
}

.caption-address:before {
  content: url("../icons/address.svg");
  margin-right: 5px;
}

.caption-document:before {
  content: url("../icons/document.svg");
  margin-right: 5px;
}

@-webkit-keyframes move {
  0% {
    top: 0;
  }
  50% {
    top: -650px;
  }
  100% {
    top: 0;
  }
}

@keyframes move {
  0% {
    top: 0;
  }
  50% {
    top: -650px;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes move_reverse {
  0% {
    top: -550px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -550px;
  }
}
@keyframes move_reverse {
  0% {
    top: -550px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -550px;
  }
}/*# sourceMappingURL=style.css.map */